# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Xcode
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.xcuserdatad
*.xcscmblueprint

# Build outputs
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
